* {
    margin: 0px;
    padding: 0px;
    border: 0;
    box-sizing: border-box; 
}

.logoimg {
    margin-left: -5px;
  }

.burger div{
    width: 25px;
    height: 3px;
    background-color: aliceblue;
    margin: 5px;
    transition: all 0.3s ease;
  }
.burger{
    display: none;
    cursor: pointer;
  }
ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
a {
    color: white;
    text-decoration: none;
  }
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 11vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #033246;
  }
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 75%;
  }
  
.nav-links li{
    list-style: none;
  }
  
.nav-links a{
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
  }

@media screen and (max-width:900px){
    body{
      overflow-x: hidden;
    }
   
    .nav-links {
      position: absolute;
      right: 0px;
      height: 80vh;
      top: 12vh;
      background-color: #033246;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      transform: translateX(100%);
      transition: transform 0.2s ease-in;
      overflow: hidden;
    }
    .nav-links li{
      opacity: 0;
    } 
    .burger{
      display: block;
    }
   }

  .nav-active{
    transform:translateX(0%) ;
  }
  @keyframes navLinkFade{
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
  }
  .toggle .line2{
    opacity: 0;
  }
  .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
  }
 .discover{
  font-family: 'Montez', cursive;
  color: #b96c6b;
  display: flex;
  width: 100vw;
  height: 50vh;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  }
  .crest{
  font-family: 'Suranna', serif;
  color: #033246;
  display: flex;
  width: 100vw;
  height: 0vh;
  align-items: center;
  justify-content: center;
  font-size: 72px;

  }
  .text1{
  font-family: 'Suranna', serif;
  color: #033246;
  display: flex;
  width: 100vw;
  height: 30vh;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  }
  .text2{
    font-family: 'Montserrat', sans-serif;
    color: #033246;
    display: flex;
    width: 100vw;
    height: 0vh;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
  }
  .text3{
  font-family: 'Montserrat', sans-serif;
  color: #033246;
  display: flex;
  width: 100vw;
  height: 10vh;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  }
  .leftspices{
    padding-top: 10px;
    position: absolute;
    left: 20px;
    
  }
  .rightspices{
    padding-top: 10px;
    position: absolute;
    right:20px;
  }
  .imgcentertext{
    padding-top: 80px;
    position: absolute;
    left: 480px;
    }

    .heading {
      position: absolute;
      top: 5px;
      left: 130px;
      text-decoration: underline;
      font-family: 'Montez', cursive;
      color: #033246;
      font-size: 35px;
      padding-top: 120px;
    }
    
    .subhead {
      position: absolute;
      top: 40px;
      left: 50px;
      font-family: 'Suranna', serif;
      color: #033246;
      font-size: 28px;
      padding-top: 110px;
    }
    
    .imgcentertext p {
      position: absolute;
      top: 110px;
      left: 20px;
      text-align: center;
      font-family: 'Amatic SC', cursive;
      line-height: 40px;
      color: black;
      font-size: 30px;
      padding-top: 100px;
      margin-left: 30px;
      margin-right: 30px;
    }
    

  @media screen and (max-width:1330px){
    .leftspices,.rightspices{
      display:none;
    }
    
  }
  @media screen and (min-width: 1201px) {
    .main-content {
      background-image: url(./main1.jpg);
      background-size: cover;
      min-height: 550px;
      overflow: hidden;
    }
    .aboutus {
      background-image:url(./tile2.jpg);
      background-size: cover;
      min-height: 650px;
      overflow: hidden;
    }
     
    
}

@media screen and (min-width: 550px) and (max-width: 1200px) {
    .main-content {
      background-image: url(./mainimg1.jpg);
      background-size: cover;
      min-height: 500px;
      overflow: hidden;
     }
     .aboutus {
      background-image:url(./tile2.jpg);
      background-size: cover;
      min-height: 500px;
      overflow: hidden;
    }
    .imgcenter{
      display: none;
    } 
}

@media screen and (max-width: 550px) {
    .main-content {
      background-image: url(./mainimg2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 600px;
      
    }
    .aboutus {
      background-image:url(./tile3.jpg);
      background-size: cover;
      min-height: 500px;
      overflow: hidden;
    }

    .text1{
      display: none;
    }
    .text2{
      display: none;
    }
    .text3{
      display: none;
    }
    .leftspices{
      display:none;
    }
    .rightspices{
      display:none;
    }
    
    }
  