* {
  margin: 0px;
  padding: 0px;
  border: 0;
  box-sizing: border-box;
}

/* .logoimg {
  margin-left: -5px;
} */

.burger div{
  width: 30px;
  height: 3px;
  background-color: aliceblue;
  margin: 5px;
  transition: all 0.3s ease;
}

.burger{
  display: none;
  cursor: pointer;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  color: white;
  text-decoration: none;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 11vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #033246;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 75%;
}

.nav-links a{
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
}

@media screen and (max-width:1200px){
  body{
    overflow-x: hidden;
  }
 
  .nav-links {
    position: absolute;
    right: 0px;
    height: 85vh;
    top: 10vh;
    background-color: #033246;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    overflow: hidden;
  }
  .nav-links li{
    opacity: 0;
  } 
  .burger{
    display: block;
  }
 }

.nav-active{
  transform:translateX(0%) ;
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

.discover{
font-family: 'Montez', cursive;
color: #b96c6b;
display: flex;
height: 50vh;
align-items: center; 
justify-content: center;
font-size: 65px;
margin-bottom: -40px;
}

.crest{
font-family: 'Suranna', serif;
color: #033246;
display: flex;
width: 100vw;
height: 0vh;
align-items: center;
justify-content: center;
font-size: 72px;
}

.text1{
font-family: 'Suranna', serif;
color: #033246;
display: flex;
width: 100vw;
height: 30vh;
align-items: center;
justify-content: center;
font-size: 30px;
margin-bottom: -25px;
}

.text2{
  font-family: 'Montserrat', sans-serif;
  color: #033246;
  display: flex;
  width: 100vw;
  height: 0vh;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}
.text3{
font-family: 'Montserrat', sans-serif;
color: #033246;
display: flex;
width: 100vw;
height: 10vh;
align-items: center;
justify-content: center;
font-size: 20px;
font-weight: bold;
}



@media screen and (min-width: 1201px) {
  .main-content {
    background-image: url(./main1.jpg);
    background-size: cover;
    min-height: 642px;
    overflow: hidden;
  }

}

@media screen and (min-width: 550px) and (max-width: 1200px) {
  .main-content {
    background-image: url(./mainimg1.jpg);
    background-size: cover;
    min-height: 633px;
    overflow: hidden;
   }
   
}

@media screen and (max-width: 550px) {
  .main-content {
    background-image: url(./mainimg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 633px;
    
  }
  .text1{
    display: none;
  }
  .text2{
    display: none;
  }
  .text3{
    display: none;
  }
     
  }
